<div style="height: 2px; width: 90%; margin-left: 5%; margin-top: 60px; border: 1px solid rgba(0, 0, 0, 0.361); "></div>
<div class="edu-container">
    <h1 class="qua">Qualifications</h1>
    <div class="edu-box">
        <div id="eduction" class="box-edu">
            <div><i class="fa-solid fa-computer"></i></div>
            <h2>Eduction</h2>
            <p>B.TECH Computer Science </p>

                <p>2023 to present</p>
                
                <p>AKTU University </p>
            </div>
            <div id="skills" class="box-edu">
                <div><i class="fa-solid fa-award"></i></div>
                <h2>Skills</h2>
                <p>Content Writing</p>
    
                    <p>HTML, CSS, JAVASCRIPT, BOOTSTRAP, NODEJS, PHP, REACT</p>
                    
                    <p>Social Media </p>
                    <p>Editing</p>
        </div>
</div>